.item {
    display: grid;
    /* grid-template-columns: 40% 25% 25%; */
    grid-template-columns: auto 25% 25%;
    /* grid-row-gap: 50; */
    /* padding: 1rem; */
}

.rank,
.currency,
.change,
.price {
    text-align: left;
}

.rank {
    /* width: 10%; */
}

.price {
    text-align: right;
}

.change,
.price {
    /* text-align: right; */
    border-left: 1px solid #dddddd;
}

.currency,
.change,
.price {
    padding: 1rem;

}
