.item {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 1rem;
}

.rank,
.currency,
.change,
.price {
  text-align: left;
  overflow: hidden;
}

.rank {
  /* width: 10%; */
}

.price {
}

.change,
.price {
  /* text-align: right; */
  border-left: 1px solid #dddddd;
}

.currency,
.change,
.price {
  padding: 1rem;
}
